body {
    margin: 0px;
}

nav {
    height: fit-content;
    background-color: rgb(243, 44, 44);
    color: aliceblue;
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    align-items: center;
    padding: 15px;
    justify-content: center;
}

ul {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    margin: 0px;
}

img {
    display: none;
    justify-self: flex-end;
    width: 20px;
}

li {
    list-style: none;
}

@media (max-width: 900px) {
    img {
        display: block;
    }

    ul {
        display: none;
    }

    .mobile {
        display: flex;
        height: 20vh;
        grid-column: 1/3;
        width: 100%;
        align-items: center;
        flex-direction: column;
    }
}